/* Orbitron Sci Fi Font Link */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
    font-family: var(--font-stack);
    background-color: var(--nasa-white);
    color: var(--nasa-blue);
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;

}

img {
    height: 100%;
    max-height: 200px;
}

:root {
    --nasa-blue: #0B3D91;
    --nasa-white: #FFFFFF;
    --nasa-red: #FC3D21;
    --nasa-gray: #D9D9D9;
    --border-radius: 5px;
    --font-stack: 'Orbitron', sans-serif;
}

.container {
    width: 50%;
    margin: auto;
    background: var(--nasa-gray);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
}


h1 {
    color: var(--nasa-blue);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}


label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}


input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid var(--nasa-blue);
    border-radius: var(--border-radius);
    font-size: 16px;
}


 input:focus, select:focus {
    border-color: var(--nasa-red);
    outline: none;
    box-shadow: 0 0 5px var(--nasa-red);
}


button {
    background-color: var(--nasa-blue);
    color: var(--nasa-white);
    padding: 12px 20px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}


button:hover {
    background-color: var(--nasa-red);
}


#errorMessage {
    font-size: 14px;
    margin-top: 10px;
}


.error {
    color: var(--nasa-red);
}


.correct {
    color: green;
}
